body{
    margin: 0px 0px !important;
    padding: 0px 0px !important;
}

header {
 text-align: center;
 color: #000080;
 height: 50px;
 box-shadow: 0 10px 10px 0 rgb(0, 0, 0, .3);
 top: 0; 
 position: fixed;
 z-index: 99;
 width: 100%;
 height: 12vh;
 background-color: white;
}

#user {
  margin-top: 2vh;
  float: right;
  cursor: pointer;
  margin-right: 20vw;
}

.pro-pic {
  height: 25px;
}

main {
  margin-top: 15vh;
  min-height: 90vh;
  min-width: 100%;
  margin-bottom: 5vh;
}

.auth-form, .assessments {
   color: #000080;
   padding-top: 15px;
   text-align: center;
   margin: 0 auto;
   min-height: 400px;
   width: 600px;
   border-radius: 25px;
   box-shadow: 0 10px 10px 0 rgb(0, 0, 0, .3);
   padding-bottom: 20px;
}

.assessments {
  width: 70vw;
  padding: 3vw;
  padding-bottom: 10vh;
}

.auth-form .form {
 margin-top: 30px;
 margin-bottom: 30px;
}

.auth-form i {
 font-size: 15px;
}

input {
 border: none;
 border-bottom: solid 2px #000080;
 text-align: center;
 margin-top: 10px;
 margin-bottom: 10px;
 font-size: large;
}

.required, #errors {
 color: red !important;
}

.success-message {
  color: darkgreen;
}

button {
 margin-top: 20px;
 background-color: #000080;
 color: white;
 min-width: 150px;
 height: 40px;
 font-size: 20px;
 border-radius: 8px;
}

.instructions {
  margin: 0 auto;
  width: 400px;
}

button:hover {
  cursor: pointer;
  background-color: #606080;
}

footer {
 text-align: center;
 color: #000080;
 border-top: solid 2px gray;
}

#clock {
 position: fixed;
 bottom: 0px;
 padding-top: 10px;
 text-align: center;
 background-color: lightgray;
 height: 120px;
 width: 150px;
 z-index: 80;
 display: none;
}

#time_ux {
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 81;
  height: 130px;
  width: 145px;
  display: none;
}

#timer_alert {
  z-index: 100;
  position: fixed;
  background-color: #dddddddd;
  height: 100vh;
  width: 99.9%;
  top: 0;
  padding-top: 20vh;
  text-align: center;
  color: red;
  display: none;
}

@media only screen and (max-width: 730px) {
  .auth-form, .assessments {
	  width: 100%;
  }

  #user {
    margin-right: 5vw;
  }

  .instructions {
    width: 80%;
  }
}

